## Recommendation System Algorithm

### 1. Kết nối với CSDL và xử lý data

In [1]:
import numpy as np
import pandas as pd
import torch
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

In [2]:
# determine the supported device
def get_device():
    if torch.cuda.is_available():
        device = torch.device('cuda:0')
    else:
        device = torch.device('cpu')
    return device

get_device()

device(type='cuda', index=0)

Kết nối với MongoDB

In [3]:
uri = "mongodb+srv://user1:136MezzAJ1K9jg1K@cluster0.jmil5cr.mongodb.net/" # Thay user, pass của mình vào 

# Connect to server
client = MongoClient(uri, server_api=ServerApi('1'))

# Check if the connection is successful
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

Kết nối với CSDL

In [4]:
db = client['dtu']

In [5]:
history = db["answered_questions"] # Collection contains the 100 most recent questions the player has played

Cấu trúc dữ liệu

In [6]:
pipeline = [{"$unwind": "$questions"}, 
            {"$project": {"_id": 0, 
                          "player": "$playerId._id", 
                          "question": "$questions._id", 
                          "player_major": "$playerId.major", 
                          "player_rank": "$playerId.rank", 
                          "question_diff": "$questions.difficulty",
                          "question_category": "$questions.category",
                          "time": "$questions.timeForAnswer",
                          "status": "$questions.status"}}]

In [7]:
# Get data from DB
data = history.aggregate(pipeline)

Chuyển thành DataFrame

In [8]:
df = pd.DataFrame(list(history.aggregate(pipeline)))

In [9]:
df.head()

,player,question,player_major,player_rank,question_diff,question_category,time,status
0,65fbfc409a31efcf7a3fb085,65fbf56a4dba71a085a1e31b,"[Physics, Math, Eng, His]",3,4,Eng,6,0
1,65fbfc409a31efcf7a3fb085,65fbf56a4dba71a085a1d4f8,"[Physics, Math, Eng, His]",3,5,His,12,1
2,65fbfc409a31efcf7a3fb085,65fbfb83b5440169b33e087b,"[Physics, Math, Eng, His]",3,4,His,26,0
3,65fbfc409a31efcf7a3fb085,65fbfb83b5440169b33dfb68,"[Physics, Math, Eng, His]",3,3,Physics,27,1
4,65fbfc409a31efcf7a3fb085,65fbfb83b5440169b33e0a1c,"[Physics, Math, Eng, His]",3,4,His,23,0

In [10]:
df_players_per_question = (
    df.groupby(["question"]).agg({"player": "nunique"}).reset_index()
)
df_players_per_question.columns = ["question", "num_of_players"]
df_players_per_question.head()

                   question  num_of_players
0  65fbf56a4dba71a085a1d374              63
1  65fbf56a4dba71a085a1d375              61
2  65fbf56a4dba71a085a1d376              52
3  65fbf56a4dba71a085a1d377              46
4  65fbf56a4dba71a085a1d378              45

In [11]:
# Retrieve a list of questions that have more than n players (e.g: n = 2)
num_of_players_threshold = 2

mask = df_players_per_question["num_of_players"] >= num_of_players_threshold
valid_questions = set(df_players_per_question.loc[mask, "question"].tolist())

In [12]:
# filter invalid records
df_filter_ques = df[df["question"].isin(valid_questions)].copy()

In [13]:
df.shape

(1000000, 8)

In [14]:
df_filter_ques.shape

(1000000, 8)

### 2. Áp dụng thuật toán đề xuất

In [15]:
unique_players = df_filter_ques["player"].unique()
player_ids = dict(
    zip(unique_players, np.arange(unique_players.shape[0])))

unique_questions = df_filter_ques["question"].unique()
question_ids = dict(
    zip(unique_questions, np.arange(unique_questions.shape[0])))

df_filter_ques["player_id"] = df_filter_ques["player"].apply(
    lambda i: player_ids[i]
)
df_filter_ques["question_id"] = df_filter_ques["question"].apply(
    lambda i: question_ids[i]
)

In [16]:
print("Number of players: ", len(player_ids))
print("Number of questions: ", len(question_ids))

Number of players:  6349
Number of questions:  20000

In [17]:
# Get player majors
unique_majors = df_filter_ques["player_major"].explode().unique()
unique_majors

array(['Physics', 'Math', 'Eng', 'His', 'Geo', 'Literature'], dtype=object)

In [18]:
# Get question categories
unique_categories = df_filter_ques['question_category'].unique()
unique_categories

array(['Eng', 'His', 'Physics', 'Math', 'Literature', 'Geo'], dtype=object)

Công thức tính "giá trị phù hợp":

$$rating = 0.2 \cdot performance + 0.3 \cdot similarity(player\_ rank, question\_ difficulty) + 0.5 \cdot similarity(player\_ major, question\_ category)$$

Công thức tính Performance:
$$performance = (1 - \frac{time\_ spent}{time\_ max}) * accuracy

In [19]:
def calculate_performance(time_spent, accuracy, difficulty): 
    time_max = 60 + 30 * difficulty
    return accuracy * (1 - time_spent/time_max)
performance = calculate_performance(df_filter_ques["time"], df_filter_ques["status"], df_filter_ques["question_diff"])

Các bước tính độ tương đồng giữa major và category: 
<br>
one hot encoding -> Encode vector (TF-IDF) -> Cosine similarity

In [20]:
# One hot encoding
def one_hot_encoding(df, column_name):
    encoded = pd.get_dummies(df[column_name].explode()) 
    encoded = encoded.groupby(encoded.index).sum()
    return encoded

one_hot_major = one_hot_encoding(df_filter_ques, "player_major") 
one_hot_category = one_hot_encoding(df_filter_ques, "question_category")

# Encode to vector using TF-IDF 
from sklearn.feature_extraction.text import TfidfTransformer
transformer = TfidfTransformer(smooth_idf=True, norm ='l2')
tfidf_major = transformer.fit_transform(one_hot_major.to_numpy().tolist()).toarray()
tfidf_category = transformer.fit_transform(one_hot_category.to_numpy().tolist()).toarray()

# Cosine similarity between player major and question category
sim_player_question = torch.nn.functional.cosine_similarity(torch.tensor(tfidf_major.astype(np.float32)).to(get_device()), 
                                                            torch.tensor(tfidf_category.astype(np.float32)).to(get_device()))
sim_player_question

tensor([0.4995, 0.4967, 0.4967,  ..., 0.5012, 0.4982, 0.4985], device='cuda:0')

Các bước tính độ tương đồng giữa player rank (0 -> 9) và question difficulty (1 -> 5): 
<br>
Normalize -> Absolute distance

In [21]:
# Tính similarity giữa player_rank (0-9) và question_diff (1-5)
MIN_RANK, MAX_RANK = 0, 9
MIN_DIFF, MAX_DIFF = 1, 5

def normalize(df, column_name, min_value, max_value):
    return df[column_name].apply(lambda x: (x - min_value) / (max_value - min_value))

# Normalize
normed_rank = normalize(df, "player_rank", MIN_RANK, MAX_RANK)
normed_diff = normalize(df, "question_diff", MIN_DIFF, MAX_DIFF)

max_value = pd.concat([normed_rank, normed_diff], axis=1).max(axis=1)

# Calculate similarity between player rank and question difficulty
sim_rank_diff = (1 - (normed_rank - normed_diff).abs() / max_value)
sim_rank_diff

0         0.444444
1         0.333333
2         0.444444
3         0.666667
4         0.444444
            ...
999995    0.000000
999996    0.666667
999997    0.000000
999998    0.750000
999999    0.750000
Length: 1000000, dtype: float64

In [22]:
# Calculate rating
rating = (0.2 * performance) + (0.3 * sim_rank_diff)+ (0.5 * sim_player_question.cpu().numpy())
rating

0         0.383060
1         0.536944
2         0.381706
3         0.614207
4         0.381706
            ...
999995    0.413676
999996    0.449099
999997    0.250591
999998    0.474099
999999    0.634232
Length: 1000000, dtype: float64

In [23]:
rating.name = "rating"

In [24]:
df_player_ques_rating = pd.concat([df_filter_ques[["player_id", "question_id"]], rating], axis=1)

Đối với những người chơi trả lời lại một câu hỏi đã trả lời trước đó thì ta sẽ lấy mean rating

In [25]:
df_player_ques_rating = df_player_ques_rating.groupby(["player_id", "question_id"]).agg({"rating": "mean"}).reset_index()

In [26]:
df_player_ques_rating.head()

   player_id  question_id    rating
0          0            0  0.383060
1          0            1  0.536944
2          0            2  0.381706
3          0            3  0.614207
4          0            4  0.381706

### 3. Surprise Framework

Test thử với 1000 dữ liệu (Do Framework Surprise không sử dụng GPU nên test rất lâu)

In [27]:
df_player_ques_rating_test = df_player_ques_rating.head(1000) 
df_player_ques_rating_test

     player_id  question_id    rating
0            0            0  0.383060
1            0            1  0.536944
2            0            2  0.381706
3            0            3  0.614207
4            0            4  0.381706
..         ...          ...       ...
995          4          488  0.567973
996          4          489  0.606995
997          4          490  0.249639
998          4          491  0.384639
999          4          492  0.400750

[1000 rows x 3 columns]

In [28]:
import pandas as pd

from surprise import Dataset, NormalPredictor, Reader, SVD
from surprise.model_selection import cross_validate

In [29]:
# Custom data using Surprise Framework
reader = Reader(rating_scale=(0, 1)) 
data = Dataset.load_from_df(df_player_ques_rating_test[["player_id", "question_id", "rating"]], reader)
trainset = data.build_full_trainset()

In [30]:
# Using SVD algorithm
algo = SVD()
algo.fit(trainset)

In [31]:
testset = trainset.build_anti_testset()
predictions = algo.test(testset)

In [32]:
from collections import defaultdict

def get_top_n(predictions, n=10):
    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [33]:
top_n = get_top_n(predictions, n=10)
print(top_n.items())
for uid, user_ratings in top_n.items():
    print(uid, [iid for (iid, _) in user_ratings])

dict_items([(0, [(249, 0.5756615346668037), (410, 0.5706059306836688), (9411, 0.5684259363113138), (244, 0.5682796614500137), (13282, 0.565161881083718), (112, 0.5604291005648938), (216, 0.5604048429324908), (11007, 0.5575897920655276), (189, 0.5567092000975288), (14715, 0.5562298230906713)]), (1, [(468, 0.6613139222979715), (236, 0.6205320700373678), (7, 0.6155584019883258), (3535, 0.6154804698137462), (65, 0.6114834168562597), (450, 0.6097282182381288), (9928, 0.6093095096255398), (18313, 0.59595500439838), (38, 0.5957396324473617), (16, 0.5940642374538546)]), (2, [(11592, 0.7086222040418175), (421, 0.6964585140472482), (9174, 0.6884482019679046), (123, 0.6828381658223651), (334, 0.6725649634429609), (2536, 0.6644308723288763), (18515, 0.664354000742334), (14347, 0.6635051824827828), (9687, 0.6623095360535065), (13454, 0.6615254626973343)]), (3, [(6950, 0.7516326245773377), (183, 0.7333931997275034), (439, 0.7272876856742084), (406, 0.726690647586399), (86, 0.7246878796457144), (15076, 0.7121937298563235), (445, 0.7121381921696723), (14323, 0.7120269197370048), (10934, 0.7076500837399994), (12079, 0.6996102059898138)]), (4, [(138, 0.6790313224397988), (19145, 0.6752811427752146), (330, 0.6701092132113093), (327, 0.6661318871165479), (17853, 0.6648863436340038), (11102, 0.6640895037656656), (1665, 0.6637120738774682), (11915, 0.6582130763799565), (13857, 0.6514697996851261), (12079, 0.6514653553641585)])])
0 [249, 410, 9411, 244, 13282, 112, 216, 11007, 189, 14715]
1 [468, 236, 7, 3535, 65, 450, 9928, 18313, 38, 16]
2 [11592, 421, 9174, 123, 334, 2536, 18515, 14347, 9687, 13454]
3 [6950, 183, 439, 406, 86, 15076, 445, 14323, 10934, 12079]
4 [138, 19145, 330, 327, 17853, 11102, 1665, 11915, 13857, 12079]